target/
!.mvn/wrapper/maven-wrapper.jar
!target/careSync-*.jar
*.class
.git/
.gitignore
.idea/
.vscode/
*.iml
HELP.md
mvnw
mvnw.cmd
deploy.ps1
docker-compose.yml
Dockerfile
.DS_Store
thumbs.db
logs/
uploads/